#calc-title {
	text-align: center;
}


#calculator {
	margin: 20px auto;
	width: 500px;
	height: 700px;
	background-color: buttonface;
}



.display p {
	width: 492px;
	height: 88px;
	font-size: 70px;
	margin: 0;
	border: 4px black solid;
	text-align: right;

}


.number-row {
	font-size: 0;
	color: blue;

}


.number-row button {
	font-size: 80px;
	width: 125px;
	height: 125px;
	background-color: #f2f2f2;
}

#equal {
	width: 250px;
}


#clear {
	width: 375px;
}
